@import "node_modules/bootstrap/scss/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
    font-family: 'Lato', sans-serif;
}

.fa-btn {
    margin-right: 6px;
}

.alert.last {
    margin-bottom: 0;
}

nav.navbar {
    margin-bottom: 20px;
}

ul li.subtitle {
    margin-top: 1em;
    @extend .small;
    @extend .text-uppercase;
}

section h4.title {
    margin-top: 1em;
}

.page-header {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #e5e5e5;
}

.card-columns {
    &.columns-2 {
        column-count: 2;
    }
}